.cardDeck {
    position: relative;
    top: 0%;
    right: 3%;
    min-width: 6rem;
    min-height: 10rem;
    width: 85%; //175px;
    margin: auto;
    // transform: rotate(25deg);
    grid-area: 1 / 4;
    z-index: 2;
}

.deck2 {
    float: left;
    position: absolute;
    transform: rotate(15deg);

}

.deck4 {
    float: left;
    position: absolute;
    transform: rotate(10deg)
}

.deck5 {
    float: left;
    position: absolute;
    transform: rotate(-10deg);
}

.deck6 {
    float: left;
    position: absolute;

}

.deck7 {
    float: left;
    position: absolute;
    transform: rotate(-25deg);
}