.cardDeck {
    // position: relative;
    // right: 15%;
    // top: 10%;
    min-width: 6rem;
    min-height: 10rem;
    width: 80%; //175px;
    margin: auto;
    transform: rotate(25deg);
    grid-area: 1 / 4;
}

.deck2 {
    position: relative;
    right: 0.25vw;
    top: 1.5vw;
    width: 100%; //175px;
    margin: 1%;
    display: flex;
    align-items: center;
    // transform: rotate(15deg);

}

.deck4 {
    position: absolute;
    right: 0.50vw;
    top: 1.75vw;
    width: 100%; //175px;
    margin: 1%;
    display: flex;
    align-items: center;
    // transform: rotate(10deg)
}

.deck5 {
    position: absolute;
    right: 0.75vw;
    top: 2vw;
    width: 100%; //175px;
    margin: 1%;
    display: flex;
    align-items: center;
    // transform: rotate(-10deg);
}

.deck6 {
    position: absolute;
    right: 1vw;
    top: 2.25vw;
    width: 100%; //175px;
    margin: 1%;
    display: flex;
    align-items: center;
}

.deck7 {
    position: absolute;
    right: 1vw;
    top: -0.5vw;
    width: 100%; //175px;
    margin: 1%;
    display: flex;
    align-items: center;
    transform: rotate(-25deg);
}