 /****** GENERAL STYLING ******/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
    background: $blackColor;
}

main {
    height: 100vh;
    width: 100vw;
}

.wrapper {
    width: 100vw;
    max-width: 1280px;
    margin: 0 auto;
}

/* FONT STYLING */

h1, h2, h3, h4, p, a, li, ul {
    line-height: 26px;
}

h1, h2, h3, h4, h5, a {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color:white;
}

h1 {
    @include fluid-type (4rem, 6rem, 360px, 1280px);
    margin: 0;
    line-height: 4.5rem;
    
}

h2 {
    @include fluid-type (2.5rem, 4rem, 360px, 1280px);
    margin: 0;
    line-height: 4.5rem;
    display: inline;

}

h3 {
    @include fluid-type (3rem, 5.5rem, 360px, 1280px);
    display: inline;
}

h4 {
    @include fluid-type (3rem, 7rem, 360px, 1280px);
    margin-bottom: 1.5rem;
    display: block;
    width: 100%;
    line-height: 4rem;
}

p { 
    font-family: 'Cabin', sans-serif;
    @include fluid-type (2rem, 5rem, 360px, 1280px);
    margin: 0;
    line-height: 4rem;
}

li, 
ul {
    text-decoration: none;
    list-style-type: none;
    line-height: 46px;
}

i {
    color: $whiteShadeColor;
    @include fluid-type (2.5rem, 5rem, 360px, 1280px);
    margin:0 10px;
}

i:hover {
    text-shadow: 5px 5px 15px rgb(142, 183, 245), -5px -5px 15px rgb(142, 183, 245);

}

a {
    padding: 30px;
}

img {
    width: 100%;
    display: block;
}

.pBreak2 {
    display: block;
    word-wrap: break-word;
    width: 100%;
    display: block;
}

button {
    font-family: 'Oswald', sans-serif;
    @include box (10vw, 5vh); //width x height
    background: rgb(142, 183, 245);
    @include fluid-type (2rem, 3rem, 360px, 1280px);
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 5px 5px;
    border-radius: 25px;
}

button:hover {
    box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.92), -2px -2px 10px 0px rgba(255, 255, 255, 0.92);
}

button:active {
    box-shadow: inset 10px 5px 17px 0px rgba(0,0,0,0.92);
}



// accessibility focused hiding of labels.
.visually-hidden:not(:focus):not(:active) { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}
// ^end visually-hidden code

// Accessibility code for skip-link
.skip-link {
    position: absolute;
    left: -999px;
    top: 1%;
    top: 5px;
    z-index: 999;
    background: white;
    font-size: 3rem;
    border-radius: 50px;
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: $blackColor;
}

.skip-link a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem;
}

.skip-link:focus {
    left: 5%;
}
// ^ End skip code 

.pBreak {
    display: block;
    margin: 3rem 0;
    word-wrap: break-word;
}

.particles-js {
    position: absolute;
    z-index:-1;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}