// main page grid:

.blackDiv {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.788);
    padding: 0 5rem;
    margin-top: 2rem;
    border-radius: 5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

//set up 2 row 1 column grid
.mainGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    width: 95%;
    height: 150vh;
    margin: 0 auto;
    justify-content: center;
    border: 2px solid blue;
}

// position placeholders
.placeholderParent {
    grid-area: 1 / span 4;
    display: flex;
    width: 45vw;
    height: 16vw;
    margin: auto;
}

// style the placeholders and the deck
.placeholder1,
.placeholder2,
.placeholder3,
.deck {
    width: 100%; //175px;
    min-width: 6rem;
    height: 100%; //270px;
    min-height: 10rem;
    border: 2px dashed white;
    border-radius: 2vw;
    margin: 1%;
    
}

.deck {
    position: relative;
    right: -3vw;
    top: 4vw;
    width: 100%; //175px;
    height: 100%; //270px;
    border: 2px dashed rgb(255, 184, 29);
    border-radius: 2vw;
    margin: 1%;
}

.deck:hover {
    box-shadow: 5px 5px 15px white, -5px -5px 15px white;
}

.deck:active {
    box-shadow:inset 5px 5px 15px rgb(0, 0, 0),inset -5px -5px 15px rgb(0, 0, 0);
}

.placeholderWhite {
    width: 90%;
    height: 90%;
    background: rgb(142, 183, 245);

    border-radius: 1.5vw;
    margin: 8% auto;
}

.headerH2 {
    margin: 1.5% 3%;
}

.textReading {
    width: 100%;
    background: #f6f6f680;
    height: 125vh;
    border-radius: 50px;
    margin-top: 2rem;
    grid-area: 2 / span 4;
}

.instruction {
    position: absolute;
    right: 20px;
    top: -9rem;
}