//flex title and button
.headerTextNButton {
    display: flex;
    align-items: center;
    margin-left: 1%;
}

// instruction toggle:
label[for="toggle2"] {
    position: absolute;
    top: -1vh;
    right: 2rem;
    font-size: 5rem;
    color: #fafafa;
    margin: 1rem;
    display: block;
    z-index: 13;
}

input[name="toggle2"] {
    display: none;
}

input[name="toggle2"]:checked+.instruction {
    right: 20px;
    transition: 0.5s ease-in-out;

}

.instruction {
    position: absolute;
    right: -500px;
    top: 5.75rem;
    color: black;
    background: #f6f6f6;
    border-radius: 25px;
    padding: 1%;
    z-index: 1;
}


// main page grid:

.blackDiv {
    position: relative;
    width: 100%;
    height: calc(100vh - 12vh);
    background: rgba(0, 0, 0, 0.788);
    padding: 0 5rem;
    margin-top: 1rem;
    border-radius: 8% 8% 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

//set up 2 row 1 column grid
.mainGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 20px;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    justify-content: center;
}

// position placeholders
.placeholderParent {
    grid-area: 1 / span 4;
    display: flex;
    width: 50vw;
    height: 15vw;
    margin: 1% auto;
    justify-content: center;
}

// style the placeholders and the deck
.placeholder1,
.placeholder2,
.placeholder3,
.deck {
    width: 100%; //175px;
    min-width: 6rem;
    height: 100%; //270px;
    min-height: 10rem;
    border: 2px dashed white;
    border-radius: 1vw;
    margin: 1%;
}

.deck {
    position: relative;
    right: -16%;
    top: 4%;
    width: 100%; //175px;
    height: 100%; //270px;
    border: 2px dashed rgb(255, 184, 29);
    border-radius: 1vw;
    margin: 1%;
    transform: rotate(25deg);
}

.deck7:hover~.deck {
    box-shadow: 5px 5px 15px white, -5px -5px 15px white;
}

.deck6:hover~.deck {
    box-shadow: 5px 5px 15px white, -5px -5px 15px white;
}

.deck:active,
.deck:focus {
    box-shadow: inset 5px 5px 15px rgb(0, 0, 0), inset -5px -5px 15px rgb(0, 0, 0);
}

.placeholderWhite {
    width: 90%;
    height: 90%;
    background: rgb(142, 183, 245);
    border-radius: 10%;
    ;
    margin: 8% auto;
}

.headerH2 {
    margin: 0.25% 4%;
    width: 100%;
}

.textReading {
    width: 100%;
    background: #f6f6f680;
    height: 60vh;
    border-radius: 50px 50px 0 0;
    margin: 0rem auto;
    grid-area: 2 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.readSpace {
    background: white;
    display: block;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    padding: 1%;
    border-radius: 25px;
}

textarea {
    font-size: 1.5rem;
    color: $blackColor;
}
