html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/****** GENERAL STYLING ******/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  background: #171717;
}

main {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
}

/* FONT STYLING */
h1, h2, h3, h4, p, a, li, ul {
  line-height: 26px;
}

h1, h2, h3, h4, h5, a {
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

h1 {
  font-size: calc(4rem + 2 * ((100vw - 360px) / 920));
  margin: 0;
  line-height: 4.5rem;
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-size: calc(2rem + 0.5 * ((100vw - 360px) / 920));
  margin: 0;
  line-height: 4.5rem;
  display: inline;
}

@media screen and (max-width: 360px) {
  h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: calc(2.5rem + 2.5 * ((100vw - 360px) / 920));
  display: inline;
}

@media screen and (max-width: 360px) {
  h3 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1280px) {
  h3 {
    font-size: 5rem;
  }
}

h4 {
  font-size: calc(3rem + 4 * ((100vw - 360px) / 920));
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  line-height: 4rem;
}

@media screen and (max-width: 360px) {
  h4 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1280px) {
  h4 {
    font-size: 7rem;
  }
}

p {
  font-family: 'Cabin', sans-serif;
  font-size: calc(2rem + 3 * ((100vw - 360px) / 920));
  margin: 0;
  line-height: 4rem;
}

@media screen and (max-width: 360px) {
  p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  p {
    font-size: 5rem;
  }
}

li,
ul {
  text-decoration: none;
  list-style-type: none;
  line-height: 46px;
}

i {
  color: #F6F6F6;
  font-size: 3rem;
}

i:hover {
  text-shadow: 5px 5px 15px #8eb7f5, -5px -5px 15px #8eb7f5;
}

a {
  padding: 30px;
}

img {
  width: 100%;
  display: block;
}

.pBreak2 {
  display: block;
  word-wrap: break-word;
  width: 100%;
  display: block;
}

button {
  font-family: 'Oswald', sans-serif;
  width: 10vh;
  height: 5vh;
  min-width: 5vh;
  min-height: 5vh;
  background: #8eb7f5;
  font-size: calc(1.5rem + 0.5 * ((100vw - 360px) / 920));
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 5px 5px;
  border-radius: 25px;
}

@media screen and (max-width: 360px) {
  button {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  button {
    font-size: 2rem;
  }
}

button:hover {
  -webkit-box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.92), -2px -2px 10px 0px rgba(255, 255, 255, 0.92);
          box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.92), -2px -2px 10px 0px rgba(255, 255, 255, 0.92);
}

button:active {
  -webkit-box-shadow: inset 10px 5px 17px 0px rgba(0, 0, 0, 0.92);
          box-shadow: inset 10px 5px 17px 0px rgba(0, 0, 0, 0.92);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.skip-link {
  position: absolute;
  left: -999px;
  top: 1%;
  top: 5px;
  z-index: 999;
  background: white;
  font-size: 3rem;
  border-radius: 50px;
  width: 15rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #171717;
}

.skip-link a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 2rem;
}

.skip-link:focus {
  left: 5%;
}

.pBreak {
  display: block;
  margin: 3rem 0;
  word-wrap: break-word;
}

.particles-js {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

/* ---- reset ---- */
canvas {
  display: block;
  height: 100vh;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #1717173f;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

.blackDiv {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.788);
  padding: 0 5rem;
  margin-top: 2rem;
  border-radius: 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
}

.mainGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -ms-grid-rows: (1fr)[auto-fit];
      grid-template-rows: repeat(auto-fit, 1fr);
  width: 95%;
  height: 150vh;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.placeholderParent {
  -ms-grid-row: 1;
  grid-area: 1 / span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45vw;
  height: 16vw;
  margin: auto;
}

.placeholder1,
.placeholder2,
.placeholder3,
.deck {
  width: 100%;
  min-width: 6rem;
  height: 100%;
  min-height: 10rem;
  border: 2px dashed white;
  border-radius: 2vw;
  margin: 1%;
}

.deck {
  position: relative;
  right: -3vw;
  top: 4vw;
  width: 100%;
  height: 100%;
  border: 2px dashed #ffb81d;
  border-radius: 2vw;
  margin: 1%;
}

.deck:hover {
  -webkit-box-shadow: 5px 5px 15px white, -5px -5px 15px white;
          box-shadow: 5px 5px 15px white, -5px -5px 15px white;
}

.deck:active {
  -webkit-box-shadow: inset 5px 5px 15px black, inset -5px -5px 15px black;
          box-shadow: inset 5px 5px 15px black, inset -5px -5px 15px black;
}

.placeholderWhite {
  width: 90%;
  height: 90%;
  background: #8eb7f5;
  border-radius: 1.5vw;
  margin: 8% auto;
}

.headerH2 {
  margin: 1.5% 3%;
}

.textReading {
  width: 100%;
  background: #f6f6f680;
  height: 125vh;
  border-radius: 50px;
  margin-top: 2rem;
  -ms-grid-row: 2;
  grid-area: 2 / span 4;
}

.instruction {
  position: absolute;
  right: 20px;
  top: -9rem;
}

.footerSocial {
  height: 5rem;
  color: white;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  position: relative;
  bottom: 4rem;
}

.footerSocial:hover {
  right: -47%;
  -webkit-transition: bottom 1s ease-in-out;
  transition: bottom 1s ease-in-out;
}
/*# sourceMappingURL=styles.css.map */